from this import d
from time import strftime, strptime
import requests
from bs4 import BeautifulSoup
import csv
import calendar
from calendar import day_name
import datetime
from datetime import date
from datetime import datetime
from datetime import timedelta


program_time = []
program_name = []
host = []
date_name = []
day_name = []
combine_data = []
channel_MF = '財經台'
channel_997 = '知訊台'
Day = [0,1,2,3,4,5,6,]
for y in Day:
    startdate = date.today()
    enddate = startdate + timedelta(days=y)
    str1 = 'https://www.metroradio.com.hk/MetroFinance/Multimedia/ProgramTimeTable.aspx?channel=MF&language=tc&date='
    str2 = enddate.strftime("%Y/%m/%d")
    day_name_1 = enddate.strftime("%a")
    link = str1+str2
    f = requests.get(link)           
    soup = BeautifulSoup(f.text, 'lxml')
    programe_name_tag = soup.find_all('td', class_='bgimage')



    for x in programe_name_tag:
        
        p_name = (x.h1).text.replace("\r\n","").replace("\n","").replace(" ","")
        program_name.append(p_name)

        p_time = (x.td).text.replace("\r\n","").replace(" ","")
        program_time.append(p_time)

        p_host = (x.h2).text.replace("\r\n","").replace(" ","")
        host.append(p_host)

        date_name.append(str2)
        day_name.append(day_name_1)

i = 0

for x in date_name:
    data = []
    data.append(channel_MF)
    data.append(x.replace("/",""))
    data.append(day_name[i])
    data.append(program_time[i])
    data.append(program_name[i])
    data.append(host[i])
    i = i+1
    combine_data.append(data)


program_time_997 = []
program_name_997 = []
host_997 = []
date_name_997 = []
day_name_997 = []



for y in Day:
    startdate = date.today()
    enddate = startdate + timedelta(days=y)
    str1 = 'https://www.metroradio.com.hk/MetroFinance/Multimedia/ProgramTimeTable.aspx?channel=997&language=tc&date='
    str2 = enddate.strftime("%Y/%m/%d")
    day_name_1 = enddate.strftime("%a")
    link = str1+str2
    f = requests.get(link)           
    soup = BeautifulSoup(f.text, 'lxml')
    programe_name_tag_997 = soup.find_all('td', class_='bgimage')



    for q in programe_name_tag_997:
        
        p_name_997 = (q.h1).text.replace("\r\n","").replace("\n","").replace(" ","")
        program_name_997.append(p_name_997)

        p_time_997 = (q.td).text.replace("\r\n","").replace(" ","")
        program_time_997.append(p_time_997)

        p_host_997 = (q.h2).text.replace("\r\n","").replace(" ","")
        host_997.append(p_host_997)

        date_name_997.append(str2)
        day_name_997.append(day_name_1)


i = 0

for x in date_name_997:
    data_997 = []
    data_997.append(channel_997)
    data_997.append(x.replace("/",""))
    data_997.append(day_name[i])
    data_997.append(program_time_997[i])
    data_997.append(program_name_997[i])
    data_997.append(host_997[i])
    i = i+1
    combine_data.append(data_997)


csvheader = ['Program_channel','Date','Sun-Mon','Program_time', 'CHIN_TITLE', 'Host']

file_name = 'Metro_Weekly_Timetable_' + str(startdate) +'.csv'

with open(file_name,'w',encoding='utf_8_sig', newline='')as ff:
    writer = csv.writer(ff)
    writer.writerow(csvheader)
    writer.writerows(combine_data)


print('done -.-') 
